* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: #2E2C2C;
}


/*TELA DE CARREGAMENTO*/
/* styles.css */
.dots-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Toda a altura da janela do navegador */
  width: 100vw; /* Toda a largura da janela do navegador */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5); /* Cor cinza com opacidade de 50% */
  z-index: 9999; /* Garante que esteja na frente de outros elementos */
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #0e3bc0;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(0.9);
    background-color: #00fffc;
    box-shadow: 0 0 0 5px rgba(178, 212, 252, 0.325);
  }
  100% {
    transform: scale(0.8);
    background-color: #0e3bc0;
    box-shadow: 0 0 0 0 rgb(18, 55, 97);
  }
}

#content {
  position: relative; /* Ajusta o conteúdo para não ficar por cima da tela de carregamento */
  z-index: 1; /* Garante que esteja por trás da tela de carregamento */
}







/*CABEÇALHO*/
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #A98609;
	width: max;
	height: 80px;
	font-family: "Fredoka", sans-serif;
	cursor: default;
}

.nav__img {
	width: 80px;
	height: 85px;
}

.nav__source {
	color: #000000;
	font-size: 30px;
	padding: 30px;
}

/*MAIN*/
.imgPerfil {
	width: 200px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	-webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, transparent, #000f);
}

.textoPerfil {
	width: 600px;
	height: 150px;
	background-color: #A98609;
	display: flex;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 70px;
	cursor: default;
}

.comentarioPerfil {
	font-size: 28px;
}

.comentarioPerfil_2 {
	margin-top: 10px;
	font-size: 20px;
}

.skills {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.barraSkill {
	float: left;
	width: calc(33% - 80px);
	height: 700px;
	/*Tamanho do retangulo em altura*/
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 40px;
	background-color: #5636D7;
	font-family: "Fredoka", sans-serif;
	color: white;
	border-radius: 100px;
	cursor: pointer;
	/*Fazendo Perspectivas*/
	transform-origin: center;
	transform: perspective(800px) rotateY(15deg);
	transition: 800ms;
}

/*Opacidade da div*/
.skills .barraSkill {
	opacity: 0.3;
}

/*Animação e visibilidade do texto quando selecionado*/
.barraSkill:hover {
	transform: perspective(800px) rotateY(0deg);
	opacity: 1;
	scale: 1.1;
}

h2 {
	font-size: 35px;
	margin-top: 20px;
}

.descricoesSkill {
	margin-top: 20px;
	padding: 15px;
	font-family: "Open Sans", sans-serif;
}

#hardware {
	background-image: url(imagens/bgHardware.png);
}

#programacao {
	background-image: url(imagens/bgProgramaçao.png);
}

#redes {
	background-image: url(imagens/bgRedes.png);
}

/*RODAPÉ*/
.sobreMim {
	width: auto;
	height: 200px;
	background-color: white;
}



/*Webkit de ScrollBar*/
::-webkit-scrollbar {
	background-color: rgb(171, 159, 216);
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(105, 99, 99);
	border-radius: 50px;
}